*{
    margin: 0;
    padding: 0;
}
/**/

:root {
    
}
/**/
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #20C982;
}
/**/
.principal{
    background-color: #20C982;
}
/**/
.principal-cabecalho{
    
}

/**/
.div-mae{
    display: flex;
    height: 80vh;
    width: 100vw;
    
    margin-top: 200px;
    margin-left: 120px;
    margin-right: 120px;

    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background-color: #fff;
}
/**/
.div-carro, .div-esquerda {
    flex: 1;
}
/**/
.div-carro{
   
}
/**/
.div-esquerda{
   
}
/**/
h2{
    margin-left: 50px;
    margin-top: 32px;
}
/**/
.div-textinho{
    margin-left: 50px;
    margin-top: 10px;
}
/**/
.div-textinho2{
    margin-right: 82px;
    margin-top: 10px;
}

/**/
.div-cor-verde{
    color: #20C982;
}
/**/
.carro{
    max-width: 30%;
    margin-top: 10%;
    margin-left: 50px;
}


/**/

.custom-select {
    position: relative;
    width: 200px;
    margin: 20px;
}

.custom-select-label {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.custom-select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1; 
}

.custom-select-option {
    padding: 10px;
    cursor: pointer;
}

.custom-select-option:hover {
    background-color: #f0f0f0;
}

/**/
.input-container {
    position: relative;
    width: 150px;
    margin: 20px;
}

.input-container label {
    position: absolute;
    top: -10px; 
    left: 10px;
    font-size: 16px;
    color: #20C982;
    background-color: #fff; 
    padding: 0 5px;
}

.input-container input {
    width: 100%;
    padding: 5.5px;
    font-size: 16px;
    background-clip: content-box; 
    border-radius: 5px;
}
/**/
.botao{
    background-color: #20C982;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    margin-top: 10px;
}